<div class="documentationtip">
  <span class="doctiptext">
./calificador/dashboard/templates/dashboard/problemas/buscar_problemas.html</span>

<div class="ui middle aligned center aligned">
  <div class="column">
    <form class="ui form"  method='POST' action='{% url 'buscar_problemas' %}' > {% csrf_token %}
      <div class="ui  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="search icon"></i>
            {{ form.terminos }}
             <button class="ui primary button">Buscar</button>
          </div>
        </div>
      </div>
      <div class="ui error message">
        {% for field in form %}
            {{ field.errors }}
        {% endfor %}
      </div>
    </form>
  </div>
</div>
</div>