<div class="documentationtip">
  <span class="doctiptext">
./calificador/dashboard/templates/dashboard/bloques/instrucciones.html</span>


<div>
    <div>
        La solución que usted plantee para el problema debe tener una función que concuerde con la siguiente especificación.
        Usted puede agregar funciones adicionales.
    </div>
    <div class="extra">Especificación de la función requerida</div>
    
    {% include 'dashboard/bloques/especificacion_funcion.html' with problema=problema%}
</div>
</div>