<div class="documentationtip">
  <span class="doctiptext">
./calificador/dashboard/templates/dashboard/bloques/problema-header.html</span>

<div class="ui header">
    <span class="tiny">{% include 'dashboard/componentes/estado_problema.html' with resultado=resultado_problema %}</span>
    <small>{% include 'dashboard/componentes/nivel_problema.html' with nivel=problema.nivel %}</small>
    {{ problema.titulo }}
    
</div>

<div class="ui tiny right floated statistics">
  {% if resultado_problema %}
  <div class=" statistic">
      <div class="label">
        Puntos
      </div>
      <div class="value">
        {{ resultado_problema.puntos }}/{{ problema.dificultad }}
      </div>
  </div>
  {% endif %}
  <div class="statistic">
      <div class="label">
        Dificultad
      </div>
      <div class="value">
        {{ problema.dificultad }}
      </div>
  </div>
  {% if problema.es_reto %}
  <div class="statistic">
      <div class="label">
        Nivel Reto
      </div>
      <div class="value">
        {{ problema.nombre_nivel_reto }}
      </div>
  </div>
  {% endif %} 
</div>


<div class="meta">
    {% include 'dashboard/componentes/tags.html' with tags=problema.tags.all %}
</div>

<div class="meta">{{ problema.curso }}</div>
<!--
<div class=""><a class="item" href="{% url 'estadisticas_pr' problema.slug %}"><i class="signal icon"></i> Estadísticas del problema</a></div>
-->


</div>