<div class="documentationtip">
  <span class="doctiptext">
./calificador/dashboard/templates/dashboard/homes/home_monitor.html</span>

{% extends "base.html" %}

{% block head_title %}
Home estudiante
{% endblock %}

{% block content %}
<div class="ui items">
   <div class="item">
     <div class="content">
        <div class="ui large header">
            Home monitor
        </div>
        <div class="active content">
            
        </div>    
     </div> <!-- Fin content -->
   </div> <!-- Fin item -->
</div> <!-- Fin items -->
{% endblock %}
</div>