<div class="documentationtip">
  <span class="doctiptext">
./calificador/dashboard/templates/dashboard/contactenos.html</span>

{% extends "base.html" %}

{% block head_title %}
Cont&aacute;ctenos
{% endblock %}

{% block content %}
<div class="ui large header">
Cont&aacute;ctenos
</div>

<div class="ui text container">
  <p>Senecode es una herramienta que busca apoyar el aprendizaje de la programación 
     por medio de un sistema automático de revisión y calificación, que ofrece 
     también una considerable cantidad de retroalimentación</p>
  <p>Senecode es también una herramienta actualmente en construcción y su apoyo
     para mejorarla es absolutamente necesario.</p>
  <p>Le pedimos entonces que, si encuentra algún error en el sistema o encuentra
     algo que no funcione de acuerdo a lo que usted esperaría, nos lo haga saber
     escribiéndonos un correo a Mario Sánchez 
     <span class="ui label"><i class="mail icon"></i> mar-san1@uniandes.edu.co</span>
     o Pedro Salazar 
     <span class="ui label"><i class="mail icon"></i> p.salazar12@uniandes.edu.co</span>.</p>

</div>

<div class="ui large header">
¡Muchas gracias!
</div>

{% endblock %}

</div>