<div class="documentationtip">
  <span class="doctiptext">
./calificador/dashboard/templates/dashboard/estadisticas_problema.html</span>

{% extends "base.html" %}

{% block head_title %}
Estad&iacute;sticas Problema
{% endblock %}

{% block content %}
<div class="ui main items" style="padding-top: 60px;">
   <div class="item">
     <div class="content">
        <div class="ui large header">
            Estad&iacute;sticas Problema
        </div>
        <div class="active content">
            
        </div>    
     </div> <!-- Fin content -->
   </div> <!-- Fin item -->
</div> <!-- Fin items -->
{% endblock %}
</div>