<div class="documentationtip">
  <span class="doctiptext">
./calificador/templates/footer.html</span>

<div class="Site-footer ui inverted footer black segment">
  <div class="ui container">
    <i class="large python mark icon"></i>
    <div class="ui small horizontal list">
      <a class="item" style="color: white;" href="{% url 'contactenos' %}">Cont&aacute;ctenos</a>
    </div>
    <div class="ui small  right floated horizontal list">          
      <i class="item">Universidad de los Andes | Departamento de Ingeniería de Sistemas y Computación</i>
    </div>
  </div>
</div>


</div>