<div class="documentationtip">
  <span class="doctiptext">
./calificador/dashboard/templates/dashboard/tareas/tareas_profesor.html</span>

{% extends "base.html" %}

{% block head_title %}
Tareas
{% endblock %}

{% block content %}

<div class="ui large header">
{{ titulo }}
</div>

{% if lista_tareas %}
<div class="ui items">
  <div class="ui grid compact">
    <div class="row">
        <div class="one wide centered column">
            <div class="ui header">
            Sección
            </div>
        </div>
        <div class="three wide centered column">
           <div class="ui header">
            Tarea
           </div>
        </div>
        <div class="seven wide centered column">
            <div class="ui header">
            Fecha límite
            </div>
        </div>
        <div class="five wide centered column">
            <div class="ui header">
            Cómo avanzan los estudiantes
            </div>
        </div>
      </div> <!-- Fin row -->
  {% for tarea, avance in lista_tareas %}
     <div class="row">
        {% include 'dashboard/bloques/tarea-seccion-inline.html' with tarea=tarea avance=avance %}
      </div> <!-- Fin row -->
   {% endfor %}
   </div> <!-- Fin grid -->
</div> <!-- Fin items -->
{% else %}
<div class="ui header">
  ... en este momento no hay ninguna tarea para mostrar
</div>

<div class="ui container">
   <img class="logo" src="/image/Seneca_singotto.png" width="250" style="display: block; margin: auto; width: 250px;"/>
</div>
{% endif %}

{% endblock %}
</div>